{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
    {% import 'nav.tpl' as nav %}
    {{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
    <div class="g-main f-fr">
        <div class="mainbox">
            <h1 class="e-pt20 e-pb20 f-fs28">打包工具</h1>
            <div class="e-mt15 f-lh22">
                <p class="f-ti2">
                    模块化开发就是将一个系统拆分为多个功能模块，为了提高复用率，每个功能模块又可无限拆分为更小的模块。
                    在Nui框架中一个模块就是一个文件，在页面加载时就是一个http请求，如果项目模块很多，就会提升页面的加载时间。
                    有方法可以将零碎的模块合并成一个文件吗？
                </p>
                <p class="f-ti2">
                    答案肯定是，目前有很多工具可以实现模块的打包，例如
                    <a href="//gulpjs.com" target="_blank" class="f-cblue">gulp</a> /
                    <a href="//gruntjs.com" target="_blank" class="f-cblue">grunt</a> /
                    <a href="//parceljs.org/" target="_blank" class="f-cblue">parcel</a> /
                    <a href="//webpack.js.org/" target="_blank" class="f-cblue">webpack</a> 等，
                    但是它们是基于标准规范进行文件解析并打包的，由于Nui是一个具有自身模块化特性的框架，因此这些工具只能合并模块，
                    无法解析模块里的内容，好在它们都提供了方法来解决这一问题。
                </p>
                <p class="f-ti2">
                    目前Nui框架打包工具支持gulp和webpack，它们都是构建在<a href="//nodejs.cn/" target="_blank" class="f-cblue">nodejs</a>之上的，
                    使用之前需先安装好环境，由于用npm安装包非常慢，可以使用淘宝镜像解决：
                </p>
<script type="text/highlight" data-highlight-options>
npm install -g cnpm --registry=https://registry.npm.taobao.org
</script>
                <p class="e-mt15 f-ti2">
                    安装好后，用cnpm代替npm安装包即可。
                </p>
<script type="text/highlight" data-highlight-options>
cnpm install xxx
</script>
                <p class="e-mt15 f-ti2">
                    一切准备就绪之后就可以学习和使用打包工具了。
                </p>
            </div>
        </div>	
    </div>
    {% import 'sidecol.tpl' as side %}
    {{side.active('pack')}}
{% endblock %}
