{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">路由</h1>
			<div class="e-mt15 f-lh22">
				<p>介绍</p>
			</div>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">使用文档</h2>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> 使用模块</h3>
			<div class="e-mt15 f-lh22">
				<p><a href="/nui/src/components/router.js" class="f-corange" target="_blank">下载</a>最新版作为依赖项引入到模块中</p>
				<p>调用方式：实例对象 / jQuery插件</p>
			</div>
<script type="text/highlight" data-javascript-options='{"isLine":false}'>
Nui.define(['../src/components/router'], function(router){
	//实例对象形式调用
	router({
		target:'#elem',
		enter:true,
		....
	})

	//jQuery插件形式调用
	$('#elem').router({
		enter:true,
		....
	})
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> 选项参数</h3>
			<table class="data e-mt15">
				<tr>
					<th width="100">参数名</th>
					<th width="150">参数类型</th>
					<th>参数说明</th>
				</tr>
				<tr>
					<td>path</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>container</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>enter</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>onBefore</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>onRender</td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> 静态方法</h3>
			<table class="data e-mt15">
				<tr>
					<th width="100">参数名</th>
					<th width="150">参数类型</th>
					<th>参数说明</th>
				</tr>
				<tr>
					<td>alias</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>trigger</td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> 实例方法</h3>
			<p class="e-mt15 f-lh22">继承组件基类 <a href="" class="f-corange">实例方法</a></p>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> 案例</h3>
			<p class="e-mt15 f-lh22">
				<a href="./cloud.html" target="_blank" class="f-corange f-tdu">诺诺云记账单页版</a>
			</p>
		</div>	
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('cpns', 'router')}}
{% endblock %}