{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('component')}}
{% endblock %}

{% block content %}
<div class="nav" style="padding:100px 0 20px 100px;">
    <a href="/home/" id="home">首页</a>
    <a href="/news/111/" id="news">新闻</a>
    <a href="/photo/22/333/" id="photo">相册</a>
    <a href="/about/5555/" id="about">关于我们</a>
</div>
<div class="content" style="padding-left:100px;"></div>
{% endblock %}

{% block script %}
	Nui.load('./script/page-min')
{% endblock %}