{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
<div id="data" style="height:50%; margin:100px;"></div>
	<div class="g-main f-fr">
		<div class="mainbox">
            <h1 class="e-pt20 e-pb20 f-fs28">数据网格</h1>
			
			<style>
			.ui-table { table-layout: fixed; width: 100%;}
			.ui-table td { height: 60px;}
			.ui-table td, .ui-table th { padding:5px; line-height: 20px; border:1px solid #ECEDEF; vertical-align: middle; font-size: 13px; word-break:break-all; box-sizing: border-box;}
			.ui-table th { text-align: center; background-color: #F7FAFF;}
			.ui-table .rows:hover { background-color: #F1FCFF;}
			.ui-table .rows.s-crt, .ui-table .rows.s-crt:hover { background-color: #D9F6FF;}
			.ui-table .table-row.s-hover { background-color: #F1FCFF;}
			.ui-table .table-row.s-crt { background-color: #D9F6FF !important;}
			.ui-void { display: inline-block; width: 83px; height: 83px; background: url("../../images/void.png?v=01ee8b8") no-repeat center;}


			.datagrid-table-all { }
			.datagrid-table-all table { width: 100%;}
			.datagrid-body, .datagrid-thead { position: relative;}
			.datagrid-body { position: relative;}
			.datagrid-table-fixed { position: absolute; top:0; z-index: 1; background-color: #fff;}
			.datagrid-table-left { left: 0;}
			.datagrid-table-right { right: 0;}
			.datagrid-title { position: relative;}
			.datagrid-table-fixed table { width: auto;}
			.cell-text.cell-nowrap { display: inline-block; max-width: 100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
			.datagrid-inner { margin-top: -1px; overflow: auto; zoom:1;}
			.datagrid-table-fixed .datagrid-inner { overflow: hidden;}
			.datagrid-table-all .datagrid-thead { overflow: hidden; width:100%;}
			.datagrid-table-all .datagrid-tbody { width: 100%;}
			.ui-paging { overflow:hidden; background-color:#fff;}
			.datagrid-paging { padding-top: 20px; height:30px;}
			.datagrid-order { position: relative; display: inline-block;}
			.datagrid-order b { left: 3px; cursor: pointer;}
			.datagrid-order b, .datagrid-order s, .datagrid-order i { position: absolute;}
			.datagrid-order s, .datagrid-order i { line-height:0; font-size:0; border:6px dashed transparent;}
			.datagrid-order-asc { top: -14px;}
			.datagrid-order-asc i { border-bottom-style:solid; border-bottom-color:#ccc;}
			.datagrid-order-asc.s-crt i { border-bottom-color:#f00;}
			.datagrid-order-desc { bottom: 7px;}
			.datagrid-order-desc i { border-top-style:solid; border-top-color:#ccc;}
			.datagrid-order-desc.s-crt i { border-top-color:#f00;}
			.datagrid-order-both .datagrid-order-asc { top:-18px;}
			.datagrid-order-both .datagrid-order-desc { bottom:2px;}

.ui-paging li { float:left; display:inline; text-align:center; margin-right:5px; line-height:22px;}
.ui-paging span,.ui-paging a,.ui-paging em,.ui-paging input,.ui-paging button { float:left;}
.ui-paging span,.ui-paging a { height:22px; width:22px; text-align:center; border:1px solid #ccc;}
.ui-paging span { background-color:#efefef;}
.ui-paging input { border:1px solid #DBDBDB; width:30px; height:22px; margin:0 3px; text-align:center; line-height:22px;}
.ui-paging button { margin-left:2px; width:40px; height:24px; border:1px solid #DBDBDB; background:#fff; cursor:pointer;}
			</style>
		</div>
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('cpns', 'datagrid')}}
{% endblock %}

{% block script %}
Nui.load('./script/demo')
{% endblock %}