<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<a href="/home/" id="home">首页</a>
    <a href="/news/" id="news">资讯</a>
    <div id="main">
		<div id="aa" class="nui-router-wrapper">
111

		</div>
	</div>
	<script type="text/javascript" src="/nui/assets/script/jquery.min.js?v=383771e"></script>
<script type="text/javascript" src="/nui/dist/nui-min.js?v=2b20964"></script>
<script type="text/javascript" src="/nui/assets/script/config.js?v=66f13fc"></script>
	<script type="text/javascript">
	Nui.load("./script/demo")
	</script>
</body>
</html>