<!DOCTYPE html>
<html class="g-html">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta name="keywords" content="Nui,Nui框架,Nui组件,axnfex,诺诺框架,诺诺前端,爱信诺框架,爱信诺前端" />
	<meta name="description" content="Nui框架是诺诺网前端团队根据自身业务的特点开发出来的模块化前端框架，提供了丰富的组件以适应不同业务需求进行快速开发。" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Nui.js</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="icon" type="image/x-icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="shortcut icon" type="image/x-icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="stylesheet" type="text/css" href="/nui/assets/style/base-min.css?v=cbc4d51"/>
    
</head>
<body class="g-body">
	<!-- header -->
	<div class="g-header f-clearfix">
	    <a class="m-logo f-fl" href="/nui/">
            <img src="/nui/assets/images/logo.png?v=a987f30" alt="Nui.js" class="f-fl" />
            <em class="f-fl e-ml10 f-fs24">Nui.js</em>
        </a>
        <ul class="m-nav f-fr f-fs16">
            
	
	
    <li class="f-fl">
        <a class="s-crt" href="/nui/pages/">教程</a>
    </li>
    <li class="f-fl">
        <a href="https://axnfex.github.io/2017/02/28/jobs/" target="_blank">加入我们</a>
    </li>
    <li class="f-fl">
        <a href="http://zjaisino.github.io/" target="_blank">前端规范</a>
    </li>
    <li class="f-fl">
        <a href="https://axnfex.github.io/" target="_blank">团队博客</a>
    </li>


        </ul>
	</div>
	<!-- /header -->

	<!-- content -->
	<div class="g-content">
    
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">路由</h1>
			<div class="e-mt15 f-lh22">
				<p>页面不刷新实现页面切换效果，用于开发单页应用</p>
				<p>note：页面中提及的url或者路径表示浏览器地址#!后面的部分</p>
			</div>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">使用模块</h2>
			<div class="e-mt15 f-lh22">
				<p>在页面中创建一个元素建议a标签，并包含href属性</p>
				<p><a href="/nui/src/components/router.js" class="f-corange" target="_blank">下载</a>最新版作为依赖项引入到模块中，并创建实例</p>
			</div>
<script type="text/highlight" data-xml-options>
<a href="/home/" id="home">首页</a>
<a href="/news/1/" class="news">体育新闻</a>
<a href="/news/2/" class="news">国际新闻</a>
</script>
<script type="text/highlight" data-javascript-options>
Nui.define(['../src/components/router'], function(router){

	router({
		target:'#home',
		entry:true,
		path:'/home/'
	})

	router('run')
})
</script>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">选项参数</h2>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> path</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{String}</p>
				<p>默认值：null</p>
				<p>必填：<b class="f-cgreen f-fs16">✔</b></p>
				<p>说明：路径匹配规则，冒号为参数名，url匹配上该规则才会触发onRender回调</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	path:'/news/:type/:id/'
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> container</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{String, jQuery Object}</p>
				<p>默认值：null</p>
				<p>必填：<b class="f-cgreen f-fs16">✔</b></p>
				<p>说明：实例创建后会生成wrapper（&lt;div class="wrapper"&gt;&lt;/div&gt;）作为container子元素，该元素就是路由渲染容器</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	container:'#main'
})
router({
	container:$('#main')
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> entry</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{Boolean}</p>
				<p>默认值：false</p>
				<p>说明：是否设置为入口页面，页面中只能设置一个入口；当url不满足path规则时，会自动跳转到入口页面</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	entry:true
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> wrapper</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{Boolean}</p>
				<p>默认值：false</p>
				<p>说明：值为false时，所有设置该值的路由实例都将共享一个wrapper，每次加载都会触发onRender；当值为true是，实例会独享一个wrapper，仅在第一次加载时时会触发onRender。</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	wrapper:true
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> level</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{Number}</p>
				<p>默认值：1</p>
				<p>说明：当匹配规则path中包含参数时才会启用，取值分别为0、1、2。当值为0时url必须满足匹配条件，参数不能少；当值为1时允许url少参数，但不能无参数；当值为2时允许url不传参数</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	level:2
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> onBefore</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{Function}</p>
				<p>默认值：null</p>
				<p>说明：点击元素在onRender之前触发，若return false则不会触发onRender</p>
				<p>参数：elem {jQuery Object} 点击元素的jQuery对象</p>
				<p>参数：render {Function} 强制触发执行onRender</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	onBefore:function(elem, render){
		if(elem.attr('id') === 'admin'){
			return false
		}
		else{
			render()
		}
	}
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> onRender</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{Function}</p>
				<p>默认值：null</p>
				<p>必填：<b class="f-cgreen f-fs16">✔</b></p>
				<p>说明：页面渲染处理</p>
				<p>参数：target {jQuery Object} 调用组件的jQuery对象</p>
				<p>参数：wrapper {jQuery Object} 模板渲染容器jQuery对象</p>
				<p>参数：data {JSON Object} 包含4个属性，url：完整路径，path：url中参数除外的路径，param：路径中的参数，cache：wrapper内容缓存</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	path:'/news/:type/:id',
	onRender:function(target, wrapper, data){
		if(data.param.type === '1'){
			wrapper.html(data.cache || '<div>.....</div>')
		}
		else{
			wrapper.html('<div>.....</div>')
		}
	}
})
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> onAfter</h3>
			<div class="e-mt15 f-lh22">
				<p>类型：{Function}</p>
				<p>默认值：null</p>
				<p>说明：渲染后触发回调，一般用于将触发的按钮高亮</p>
				<p>参数：target {jQuery Object} 调用组件的jQuery对象</p>
				<p>参数：wrapper {jQuery Object} 模板渲染容器jQuery对象</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	path:'/news/:type/:id',
	onRender:function(target, wrapper, data){
		//渲染操作
	},
	onAfter:function(target){
		target.addClass('active').siblings().removeClass('active')
	}
})
</script>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">静态方法</h2>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> start</h3>
			<div class="e-mt15 f-lh22">
				<p>页面加载时，当url不满足匹配规则跳转到入口页面</p>
			</div>
<script type="text/highlight" data-javascript-options>
router({
	target:'#home',
	path:'/home/',
	entry:true
})

router({
	target:'#news',
	path:'/news/'
})

router('start')
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> alias</h3>
			<div class="e-mt15 f-lh22">
				<p>设置路径匹配别名，用于简化path参数，在path中用大括号使用该别名</p>
			</div>
<script type="text/highlight" data-javascript-options>
router('alias', {
	'news':'/a/b/news/'
})

router({
	path:'{news}/:type/:id'
})
</script>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">实例方法</h2>
			<p class="e-mt15 f-lh22">继承组件基类 <a href="" class="f-corange">实例方法</a></p>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">案例</h2>
			<p class="e-mt15 f-lh22">
				<a href="./cloud.html" target="_blank" class="f-corange f-tdu">诺诺云记账单页版</a>
			</p>
		</div>	
	</div>
	
	
<div class="f-fl g-sidecol">
    <div class="side">
        <ul class="m-menu f-lh28">
            <li>
                <a class="f-fs16" href="/nui/pages/">介绍</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/doc.html">API文档</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/util.html">实用工具</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/template.html">模板引擎</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/element.html">页面元素</a>
                
            </li>
            <li>
                <a class="f-fs16 s-crt" href="/nui/pages/components/">交互组件</a>
                
                <ul>
                    <li>
                        <a href="#快速入门">快速入门</a>
                        <ul>
                            <li>
                                <a href="#规范">规范</a>
                            </li>
                            <li>
                                <a href="#开发组件">开发组件</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="s-crt" href="/nui/pages/components/router/">路由</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/layer/">弹出层</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/calendar/">日历</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/datagrid/">数据网格</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/placeholder/">占位符</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/slider/">滑块</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/carousel/">轮播图</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/upload/">文件上传</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/upload/">单复选框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/fixed/">固钉</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/fixed/">数字输入</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/paging/">分页</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/scrollbar/">滚动条</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/suggest/">搜索建议</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/tab/">选项卡</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/popover/">提示框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/print/">打印</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/copy/">拷贝</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/collapse/">折叠面板</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/timer/">定时器</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/waterfall/">瀑布流</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/validate/">表单校验</a>
                    </li>
                </ul>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/pack.html">构建工具</a>
                
            </li>
        </ul>
    </div>
</div>


	</div>
	<!-- /content -->

	

    <script type="text/javascript" src="/nui/assets/script/jquery.min.js?v=383771e"></script>
<script type="text/javascript" src="/nui/dist/nui-min.js?v=e659f30"></script>
<script type="text/javascript" src="/nui/assets/script/config.js?v=91d94ca"></script>
    
    <script type="text/javascript">
	Nui.load("{script}/base-min", function(page){
        page.init()
    })
    </script>
    
    <script type="text/javascript">
    
    </script>
</body>
</html>