html, body { background-color:#fff;} 
html { overflow:hidden;}
.g-wrap, .g-content { width:100%;}
.g-wrap, .g-sidecol, .g-content, .g-con { height:100%;}
.g-sidecol { position:relative; z-index:1; width:64px; border-right:1px solid #C0BFBF; background-color:#fff;}
.g-wrap.s-hide .g-sidecol { display:none; position:absolute; top:50px; left:0;}
.g-wrap.s-show .g-sidecol { display:block;}
.g-wrap.s-hide .g-con { margin-left:0;}
.g-wrap.s-hide .ui-tabmenu-wrap { margin-left:70px;}
.m-logo { position:absolute; top:0; left:0; width:65px; height:51px; background:#4C81C2 url(../images/logo.png?v=2) no-repeat center; z-index:1;}
.m-menu dl { position:relative; zoom:1;}
.m-menu dl a:hover { color:#fff; -webkit-transition:all .1s ease-in; -ms-transition:all .1s ease-in; transition:all .1s ease-in;}
.m-menu dd { position:absolute; left:64px; bottom:0; display:none;}
.m-menu-item dd { top:0;}
.m-menu dd a { width:115px; height:33px; line-height:33px; background-color:#84B3ED; font-size:12px; color:#fff;}
.m-menu dd a:hover { background-color:#4C81C2;}
.m-menu dd a span { padding-left:14px;}
.m-menu dt a, .m-menu dd a, .m-menu dt em, .m-menu dt span { display:block;}
.m-menu dt a { padding:12px 0 10px; text-align:center; zoom:1;}
.m-menu dt span { position:relative; margin-top:10px;}
.m-menu dt a { border-left:4px solid #fff; border-right:4px solid #fff; color:#171717;}
.m-menu dt span { height:18px; line-height:18px;}
.m-menu dt span { font-size:12px;}
.m-menu dt span i { position:absolute; right:0; top:0; font-size:12px;}
.m-menu dt em i { font-size:26px;}
.m-menu dl.s-show dd { display:block;}
.m-menu dl.s-show dt a, .m-menu dt a:hover { color:#fff; background-color:#84B3ED; border-left-color:#fff; border-right-color:#84B3ED;}
.m-menu dl.s-crt dt a { color:#fff; background-color:#4C81C2; border-left-color:#fff; border-right-color:#4C81C2;}
.m-menu dl.s-crt .s-crt { background-color:#4C81C2;}
.g-content { margin-left:-65px;}
.g-con { margin-left:65px; background-color:#EBEBEB;}
.g-main { height:100%;}
.u-span1{ width:102px; height:28px; margin-top: -8px; margin-left: 8px; text-align: center; position: relative;}
.u-span1 a{ width:80px; height:28px; padding:2px 0 0 20px; }
.u-btn1:hover{ background-color:#EBEBEB;}
.u-span1 a i{ position: absolute; font-size:20px; top:2px;left:10px;}
.u-span{ width:102px; height:28px; margin-top: -8px; margin-left: 8px; text-align: center; position: relative;}
.u-span a{ width:80px; height:30px; padding:2px 0 0 20px;}
.u-span a i{ position: absolute; font-size:19px; top:2px;left:10px;}
.g-header { border-bottom:1px solid #C0BFBF; background-color:#fff;}
.m-head { padding-left:66px;}
.m-headbox { padding:0 20px; height:50px;}
.m-head-main { position:relative; height:26px; margin-right:20px; z-index:1; margin-top:18px;}
.m-head-main p { margin-left:10px; color:#4C81C2;}
.m-head-main .name { margin-top:-2px; font-size:16px; font-weight:bold;}
.m-head-main .month { margin-left:5px; margin-top:3px;}
.m-head-main .list { margin-top:-8px; margin-left:8px;}
.m-head-main .list a { float:left;padding-left:36px; padding-right:18px; line-height:32px; border-radius:3px; background-color:#FF9C00; color:;}
.ui-imitselect { float:left; height:100%; border:none;}
.ui-imitselect dt { padding:0; line-height:26px;}
.ui-imitselect dt i { right:6px; color:#84B3ED;}
.ui-imitselect dt b { position:absolute; left:0; bottom:0; width:100%;}
.ui-imitselect dt span { padding:0 12px 0 6px; font-size:14px; color:#4C81C2;}
.ui-imitselect dt b s { display:block; height:12px; border:1px solid #84B3ED; border-top:none; overflow:hidden;}
.ui-imitselect dd { padding:0 1px; top:25px; border:none; background:none;}
.ui-imitselect-search, .ui-imitselect dd ul { background-color:#fff;}
.ui-imitselect-search, .ui-imitselect dd ul li { padding-left:10px;}
.ui-imitselect-search { height:24px;}
.ui-imitselect-search input { height:24px; line-height:24px\9;}
.ui-imitselect-search, .ui-imitselect dd ul { border:1px solid #84B3ED;}
.ui-imitselect-search { border-bottom:none;}
.ui-imitselect-search strong b { line-height:24px;}
.ui-imitselect dd li { height:24px; line-height:24px; font-size:13px;}
.g-main { position:relative; background-color:#EBEBEB;}
.ui-tabmenu-btn { display:none;}
.ui-tabcontent { height:100%;}
.ui-tabcontent iframe { display:none; width:100%; height:100%;}
.ui-tabcontent iframe.s-show { display:block;}
.ui-tabmenu { position:absolute; top:-28px; left:0; /*display:none;*/ width:475px;}
.ui-tabmenu-wrap { position:relative; margin:0 5px; padding:0 15px; height:28px;}
.ui-tabmenu-btn { position:absolute; top:0; width:14px; height:26px; line-height:26px; text-align:center; background-color:#fff; border:1px solid #C0BFBF; font-size:12px; cursor:pointer;}
.ui-tabmenu-prev { left:0;}
.ui-tabmenu-next { right:0;}
.ui-tabmenu-box { position:relative; width:100%; overflow:hidden; height:100%;}
.hidetab .ui-tabmenu { display:none;}
.ui-tabmenu-list { position:absolute; left:0; top:0; height:100%; border-right:1px solid #C0BFBF;}
.ui-tabmenu-list li { position:relative; float:left; display:inline; padding:0 25px 0 15px; height:26px; line-height:26px; font-size:14px; color:#999; border:1px solid #C0BFBF; border-right:none; cursor:pointer; word-wrap:normal; white-space:nowrap;}
.ui-tabmenu-list li i { position:absolute; right:0; top:4px; width:18px; height:18px; line-height:18px; text-align:center;}
.ui-tabmenu-list li.s-show { background-color:#EBEBEB; border-bottom-color:#EBEBEB; color:#333;}
.t-layer-menu { border:1px solid #C0BFBF; padding:0;}
.t-layer-menu .ui-layer-box { border:none; border-radius:0;}
.t-layer-menu .ui-layer-main { font-size:12px;}
.t-layer-menu li a { display:block; padding-left:8px; height:20px; line-height:20px;}
.t-layer-menu li a:hover { background-color:#EBEBEB; color:#666;}
.m-head-links { margin-top:17px; margin-right: 140px;}
.m-head-links b { margin:0 5px;}
.m-head-links dl { position:relative; z-index:1; cursor:pointer;}
.m-head-links dt { float:left; line-height:18px;}
.m-head-links dt i { float:left; margin-right:3px; margin-top:-1px; font-size:18px; color:#4C81C2;}
.m-head-links dd { display:none; position:absolute; top:20px; right:0; padding-top:4px;}
.m-head-links dd div { position:relative; width:70px; padding-bottom:10px; border:1px solid #C0BFBF; background-color:#fff; cursor:default; text-align:right;}
.m-head-links dd div i { position:absolute; right:12px; top:-12px; border:6px dashed transparent; border-bottom-color:#C0BFBF; border-bottom-style:solid;}
.m-head-links dd div s { position:absolute; right:13px; top:-10px; border:5px dashed transparent; border-bottom-color:#fff; border-bottom-style:solid;}
.m-head-links dd p { padding:0 10px; margin-top:10px;}
.m-head-links dd p a { display:block;}
.m-head-links dl.s-show dd { display:block;}
.m-remind { line-height:18px;}
.m-remind i { margin-right:1px; margin-top:-2px; font-size:18px; color:#4C81C2;}
.m-remind em { margin-left:1px;}
.m-remind s { margin:-4px 0 0 -8px; padding:0px 4px; line-height:normal; border-radius:8px; color:#fff; background-color:#FF4800;}