
.m-main { margin-top:53px; margin-right:0px; width:1000px; margin:0 auto;}
.m-main h3 { height:48px; line-height:48px; background-color:#4C81C2;}
.m-main h3 { padding-left:18px; font-size:18px; font-weight:bold; color:#fff;}
.m-main ul { height:371px; overflow:hidden;}
.m-main li { float:left; width:333px;}
.m-main li.l-mid { width:334px;}
.m-main li a { display:block; height:185px; overflow:hidden; text-align:center;}
.m-main li a em, .m-main li a span { display:block;}
.m-main li a i { font-size:60px;}
.m-main li a em { margin-top:32px;}
.m-main li a span { margin-top:20px; font-size:18px; color:#4A4A4A;}
.m-main li a:hover { background-color:#DCF0FF;}
.m-main li a:hover em { color:#4C81C2;}
.m-main li a:hover i { -webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.m-main li a:hover span { -webkit-animation-name:fadeInRight; animation-name:fadeInRight; color:#4A4A4A;}
.m-data h3 { position:relative; height:65px; line-height:64px; margin-bottom:-1px; color:#fff; font-size:25px; text-align:center;}
.m-data table td { padding:0 9px; width:50%; height:62px; vertical-align:middle; font-size:20px;}
.m-data p { height:57px; line-height:57px; padding-right:22px; border-top:none; font-size:20px;}
.m-data p i { font-size:22px;}

@-webkit-keyframes fadeInDown {
	0% { opacity:0; -webkit-transform:translateY(-20px); transform:translateY(-20px);}
	100% { opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes fadeInDown {
	0% { opacity:0; -webkit-transform:translateY(-20px); -ms-transform:translateY(-20px); transform:translateY(-20px);}
	100% { opacity:1; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0);}
}
.ui-animate-fadeInDown { -webkit-animation-name:fadeInDown; animation-name:fadeInDown;}
.ui-animate-fadeInDown-run1 { -webkit-animation-delay:0; animation-delay:0;}
.ui-animate-fadeInDown-run2 { -webkit-animation-delay:.1s; animation-delay:.1s;}
.ui-animate-fadeInDown-run3 { -webkit-animation-delay:.2s; animation-delay:.2s;}
.ui-animate-fadeInDown-run4 { -webkit-animation-delay:.3s; animation-delay:.3s;}
.ui-animate-fadeInDown-run5 { -webkit-animation-delay:.4s; animation-delay:.4s;}
.ui-animate-fadeInDown-run6 { -webkit-animation-delay:.5s; animation-delay:.5s;}
.ui-animate-fadeInDown-run7 { -webkit-animation-delay:.6s; animation-delay:.6s;}
.ui-animate-fadeInDown-run8 { -webkit-animation-delay:.7s; animation-delay:.7s;}