{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('component')}}
{% endblock %}

{% block content %}

<script type="text/html" id="tpl">
<% if aCount %>
	<% aCount %>
<% /if %>
<% each list val key %>
<% include 'tpl2' %>
<% /each %>
</script>
<script type="text/html" id="tpl2">
<% each val %>
<% include 'tpl3' %>
<% /each %>
</script>
<script type="text/html" id="tpl3">
<p><% aCount %>key:<% $index %>  val:<% $value %><% $index||$value ? 'cccccccccccc' : 'yyyyyyyyyy' %><% setParam | $index, $value %></p>
</script>
<div id="data"></div>
{% endblock %}

{% block script %}
	Nui.load('template', function(tpl){
		tpl.config('openTag', '<%')
		tpl.config('closeTag', '%>')
		$.getJSON('./data.json', function(res){
			data.innerHTML = tpl('tpl', res)
		})
		
	})
{% endblock %}
