{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
	<div class="g-main f-fr">
		<div class="mainbox">
            <h1 class="e-pt20 e-pb20 f-fs28">webpack</h1>
			<div class="e-mt15 f-lh22">
                <p>
					webpack是一个非常强大的打包工具，可以打包符合标准规范（如CommonJS/AMD）的模块，也可以封装loader来支持其它模块化特性。
					<a href="//npm.taobao.org/package/nui-loader" target="_blank" class="f-cblue f-wsn">nui-loader</a>
					就是一个将Nui模块化语法转化为webpack可识别语法的解释器，能让我们在使用Nui模块特性的同时使用webpack进行打包。
				</p>
            </div>
            <h2 class="e-pt20 f-fs22 f-bb e-pb10" id="install">安装</h2>
            <p class="e-mt15 f-lh22">使用之前需先全局安装webpack，这样才能在终端使用webpack命令：</p>
<script type="text/highlight" data-highlight-options>
cnpm install -g webpack
</script>
		</div>
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('pack', 'webpack')}}
{% endblock %}