{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
<style>
.nui-tag { display: inline-block; padding: 0 5px; background-color: blue; color: #fff;}

.ui-input .nui-tag { float: left; margin: 8px 8px 0 0;}
.ui-input input { float: left; margin-top: 8px; height: 30px;}
</style>
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">搜索</h1>

			<div class="ui-input" style="width:600px; height:auto; padding-bottom:8px; min-height:30px; overflow:hidden;">
				<div>
					<span class="nui-tag">
						<em class="nui-tag-text">11111</em>
						<i class="nui-tag-close">X</i>
					</span>
					<span class="nui-tag">
						<em class="nui-tag-text">11111</em>
						<i class="nui-tag-close">X</i>
					</span>
				</div>
				<input type="text" class="demo" placeholder="请输入...">
			</div>
			
		</div>	
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('cpns', 'search')}}
{% endblock %}

{% block script %}
Nui.use('./script/page')
{% endblock %}