{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/nui/pages/components/search/style/page-min.css"/>
{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">搜索</h1>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">先睹为快</h2>
			<div class="e-mt15">
				<input type="text" class="ui-input" id="demo1" data-input-options='{"text":"请输入姓名...","clear":"X"}'>
			</div>
			<div class="f-clearfix e-mt15">
				<div class="ui-input ui-input-auto demo2Tags f-fl">
					<div class="f-clearfix">
						<input type="text" id="demo2" data-input-options='{"text":"请输入员工或部门名称..."}'>
					</div>
				</div>
				<label class="f-fl e-mt15 e-ml15">
					<input type="checkbox" name="single"> 单选
				</label>
			</div>
			<div class="ui-input demo3Tags e-mt15">
				<div class="ui-input-auto">
					<div class="f-clearfix">
						<span class="ui-tag"><em class="con-tag-text" title="王福元">王福元</em><b class="con-tag-close">×</b></span>
						<input type="text" id="demo3" data-input-options='{"text":"请输入员工或部门名称..."}'>
					</div>
				</div>
			</div>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">选项参数</h2>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> url</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：请求url</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> zIndex</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：设置层级</p>
				<p>默认：19920604</p>
				<p>类型：{Number}</p>
				<p>说明：若style中已经设置，则不使用该值</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> query</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：设置查询参数</p>
				<p>默认：'keyword'</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>参数：value {String} 文本框输入值</p>
				<p>返回：{Object} 查询参数对象集合</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> item</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义列表模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回列表模版</p>
				<p>说明：模版中可以使用<%$data%>获取当前行数据，<%$index%>获取当前行索引；配合选项参数selected方法在模版中调用<%selected($data)%>可以设置当前行是否选中</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> empty</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义提示信息模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回空数据时模版</p>
				<p>说明：模版中可以使用<%value%>获取当前输入值</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> prompt</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义输入时有结果返回提示模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回提示模版</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> foot</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义底部模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回底部模版</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> field</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：设置列表展示内容字段名</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>说明：在展示列表时如果未使用item参数，将会展示该值内容</p>
			</div>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">实例属性</h2>
			
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">实例方法</h2>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">类方法</h2>
			
		</div>	
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('cpns', 'search')}}
{% endblock %}

{% block script %}
Nui.load('./script/page')
{% endblock %}