{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/nui/pages/components/select/style/page-min.css"/>
{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}



{% block content %}
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">选择器</h1>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">先睹为快</h2>
			
			<!-- <div class="nui-select e-mt20">
				<div class="con-select-wrap">
					<div class="con-select-edit">
						<input type="text" class="con-select-input" readonly placeholder="请输入...">
					</div>
				</div>
				<div class="con-select-adorn"> 
					<span class="con-select-arrow">▼</span>
				</div>
			</div>

			<div class="nui-select e-mt20" style="width:auto;">
				<div class="con-select-wrap">
					<div class="con-select-combo">
						<span class="ui-tag">
							<em class="con-tag-text">标签</em>
							<b class="con-tag-close">×</b>
						</span>
						<span class="ui-tag">
							<em class="con-tag-text">标签</em>
							<b class="con-tag-close">×</b>
						</span>
						<div class="con-select-edit">
							<input type="text" class="con-select-input" placeholder="请输入...">
						</div>
					</div>
				</div>
				<div class="con-select-adorn">
					<span class="con-select-arrow"></span>
				</div>
			</div> -->
			<div class="e-mt20"></div>
			<select class="f-dn">
				<option value="">请选择</option>
				<option value="1">111</option>
				<option value="2">111</option>
				<option value="3">333</option>
				<option value="4">444</option>
			</select>
			<div class="e-mt20"></div>
			<select class="f-dn" multiple>
				<optgroup label="一组">  
					<option value="1" selected>111</option>
					<option value="2">222</option>
				</optgroup>
				<optgroup label="二组">  
					<option value="3">333</option>
					<option value="4">444</option>
				</optgroup>
			</select>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">选项参数</h2>

			
		</div>	
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('cpns', 'select')}}
{% endblock %}

{% block script %}
Nui.load('./script/page')
{% endblock %}