<!DOCTYPE html>
<html class="g-html">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta name="keywords" content="Nui,Nui框架,Nui组件,axnfex,诺诺框架,诺诺前端,爱信诺框架,爱信诺前端" />
	<meta name="description" content="Nui框架是诺诺网前端团队根据自身业务的特点开发出来的模块化前端框架，提供了丰富的组件以适应不同业务需求进行快速开发。" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Nui.js</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="icon" type="image/x-icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="shortcut icon" type="image/x-icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="stylesheet" type="text/css" href="/nui/assets/style/base-min.css?v=82d8e81"/>
    
<link rel="stylesheet" type="text/css" href="/nui/pages/components/search/style/page-min.css?v=481b1f8"/>

</head>
<body class="g-body">
	<!-- header -->
	<div class="g-header f-clearfix">
	    <a class="m-logo f-fl" href="/nui/">
            <img src="/nui/assets/images/logo.png?v=a987f30" alt="Nui.js" class="f-fl" />
            <em class="f-fl e-ml10 f-fs24">Nui.js</em>
        </a>
        <ul class="m-nav f-fr f-fs16">
            
	
	
    <li class="f-fl">
        <a class="s-crt" href="/nui/pages/">教程</a>
    </li>
    <li class="f-fl">
        <a href="https://axnfex.github.io/2017/02/28/jobs/" target="_blank">加入我们</a>
    </li>
    <li class="f-fl">
        <a href="http://zjaisino.github.io/" target="_blank">前端规范</a>
    </li>
    <li class="f-fl">
        <a href="https://axnfex.github.io/" target="_blank">团队博客</a>
    </li>


        </ul>
	</div>
	<!-- /header -->

	<!-- content -->
	<div class="g-content">
    
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">搜索</h1>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">先睹为快</h2>
			<div class="e-mt15">
				<input type="text" class="ui-input" id="demo1" data-input-options='{"text":"请输入姓名...","clear":"X"}'>
			</div>
			<div class="f-clearfix e-mt15">
				<div class="ui-input ui-input-auto demo2Tags f-fl">
					<div class="f-clearfix">
						<input type="text" id="demo2" data-input-options='{"text":"请输入员工或部门名称..."}'>
					</div>
				</div>
				<label class="f-fl e-mt15 e-ml15">
					<input type="checkbox" name="single"> 单选
				</label>
			</div>
			<div class="ui-input demo3Tags e-mt15">
				<div class="ui-input-auto">
					<div class="f-clearfix">
						<span class="ui-tag"><em class="con-tag-text" title="王福元">王福元</em><b class="con-tag-close">×</b></span>
						<input type="text" id="demo3" data-input-options='{"text":"请输入员工或部门名称..."}'>
					</div>
				</div>
			</div>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">选项参数</h2>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> url</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：请求url</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> zIndex</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：设置层级</p>
				<p>默认：19920604</p>
				<p>类型：{Number}</p>
				<p>说明：若style中已经设置，则不使用该值</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> query</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：设置查询参数</p>
				<p>默认：'keyword'</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>参数：value {String} 文本框输入值</p>
				<p>返回：{Object} 查询参数对象集合</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> item</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义列表模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回列表模版</p>
				<p>说明：模版中可以使用<%$data%>获取当前行数据，<%$index%>获取当前行索引；配合选项参数selected方法在模版中调用<%selected($data)%>可以设置当前行是否选中</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> empty</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义提示信息模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回空数据时模版</p>
				<p>说明：模版中可以使用<%value%>获取当前输入值</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> prompt</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义输入时有结果返回提示模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回提示模版</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> foot</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：定义底部模版</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>类型：{Function}</p>
				<p>参数：self {Object} 组件实例对象</p>
				<p>返回：{String} 返回底部模版</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> field</h3>
			<div class="e-mt15 f-lh22">
				<p>功能：设置列表展示内容字段名</p>
				<p>默认：''</p>
				<p>类型：{String}</p>
				<p>说明：在展示列表时如果未使用item参数，将会展示该值内容</p>
			</div>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">实例属性</h2>
			
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">实例方法</h2>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">类方法</h2>
			
		</div>	
	</div>
	
	
<div class="f-fl g-sidecol">
    <div class="side">
        <ul class="m-menu f-lh28">
            <li>
                <a class="f-fs16" href="/nui/pages/">介绍</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/doc.html">API文档</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/util.html">实用工具</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/template.html">模板引擎</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/events.html">代理事件</a>
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/element.html">页面元素</a>
                
            </li>
            <li>
                <a class="f-fs16 s-crt" href="/nui/pages/components/">交互组件</a>
                
                <ul>
                    <li>
                        <a  href="/nui/pages/components/#开发组件">开发组件</a>
                        
                    </li>
                    <li>
                        <a href="/nui/pages/components/router/">路由</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/layer/">弹出层</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/datagrid/">数据网格</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/placeholder/">占位符</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/input/">输入框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/popover/">提示框</a>
                    </li>
                    <li>
                        <a class="s-crt" href="/nui/pages/components/search/">搜索</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/calendar/">日历</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/slider/">滑块</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/carousel/">轮播图</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/upload/">文件上传</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/upload/">单复选框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/fixed/">固钉</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/fixed/">数字输入</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/paging/">分页</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/scrollbar/">滚动条</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/tab/">选项卡</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/print/">打印</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/copy/">拷贝</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/collapse/">折叠面板</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/timer/">定时器</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/waterfall/">瀑布流</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/validate/">表单校验</a>
                    </li>
                </ul>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/pack.html">打包工具</a>
                
            </li>
        </ul>
    </div>
</div>


	</div>
	<!-- /content -->

	

    <script type="text/javascript" src="/nui/assets/script/jquery.min.js?v=4223d4c"></script>
<script type="text/javascript" src="/nui/dist/nui-load-min.js?v=394e26b"></script>
<script type="text/javascript" src="/nui/config.js?v=beb5eb7"></script>
    
    <script type="text/javascript">
	Nui.load("{script}/base-min", function(page){
        page.init()
    })
    </script>
    
    <script type="text/javascript">
    
Nui.load("./script/page")

    </script>
</body>
</html>