{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('component')}}
{% endblock %}

{% block content %}
<script type="text/highlight" options-highlight="{type:'css'}">
a { color:#f60; b:aa;}
b {
	a {
		a:1
	}
}
/*dfgdfg*/
/*
dfgdfgf
*/
#a {a:1}
.b {a:1}
a:child {a:1}
@keyframes mymove
{
	0%   {/*top:0px;*/
		/*aa:1
		a:1*/
		v:1
	}
	/*25%  {top:200px;}*/
	50%  {top:100px;}
	75%  {top:200px;}
	100% {top:0px;}
}
::select { color:1}
</script>
{% endblock %}

{% block script %}
	Nui.load('./script/page-min')
{% endblock %}
