@charset "utf-8";

/**
 * Copyright(C), 2013-2014 ZheJiang Aisino Spaceflight Technology Co., Ltd.
 * FileName: base.css
 * Author: Aniu[date:2013-10-16 15:31]
 * Update: Aniu[date:2014-04-08 13:37]
 * Version: v2.0.1
 * Description: CSS Reset & Public Components
 */

 @font-face {font-family: "iconfont";
   src: url("iconfont.eot?v=25d929d#iefix");
   src: url("iconfont.eot?v=25d929d#iefix") format('embedded-opentype'),
   url("iconfont.woff?v=2941e9f") format('woff'),
   url("iconfont.ttf?v=8a1053b") format('truetype'),
   url("iconfont.svg?v=982834f#iconfont") format('svg');
 }

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, keygen, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input, textarea, select, button { margin:0; padding:0; border:none; outline:0; font-size:100%; font:inherit; vertical-align:baseline;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
ol, ul { list-style:none;}
sup, sub {font-size:83%;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
del { text-decoration:line-through;}
ins, u, s, a, a:hover { text-decoration:none;}
pre, code, kbd, samp { font-family:inherit;}
em, i, cite, var, address, dfn { font-style:normal;}
h1, h2, h3, h4, h5, h6, strong, b { font-weight:normal;}
html, body, fieldset, img, iframe, abbr { border:0;}
table { border-collapse:collapse; border-spacing:0;}
caption, th { text-align:left; font-weight:normal;}
textarea{ overflow:auto; resize:none;}
label, summary { cursor:default;}
a, button, label { cursor:pointer;}
body, textarea, input, button, select, keygen, legend { font:14px/1.14 \5fae\8f6f\96c5\9ed1,helvetica,sans-serif; color:#666;}
html { _background-image:url(about:blank); _background-attachment:fixed;}
body, html { background-color:#fff;}
a { color:#666; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:hover { color:#FD6E0E; text-decoration:underline;}

/* function */
.f-dn { display:none;}
.f-dib { display:inline-block;}
.f-db { display:block;}
.f-di { display:inline;}
.f-fl { float:left; display:inline;}
.f-fr { float:right; display:inline;}
.f-fn { float:none;}
.f-pr { position:relative;}
.f-pa { position:absolute;}
.f-oh { overflow:hidden;}
.f-fs12 { font-size:12px;}
.f-fs14 { font-size:14px;}
.f-fs16 { font-size:16px;}
.f-fs18 { font-size:18px;}
.f-fs20 { font-size:20px;}
.f-fs22 { font-size:22px;}
.f-fs24 { font-size:24px;}
.f-fs28 { font-size:28px;}
.f-fwb { font-weight:bold;}
.f-tal { text-align:left;}
.f-tac { text-align:center;}
.f-tar { text-align:right;}
.f-vam { vertical-align:middle;}
.f-vat { vertical-align:top;}
.f-wsn { word-wrap:normal; white-space:nowrap;}
.f-ti { overflow:hidden; text-indent:-999em;}
.f-ti2 { text-indent:2em;}
.f-lh18 { line-height: 18px;}
.f-lh20 { line-height: 20px;}
.f-lh22 { line-height: 22px;}
.f-lh24 { line-height: 24px;}
.f-lh28 { line-height: 28px;}
.f-cp { cursor:pointer;}
.f-nus { -webkit-user-select:none; -ms-user-select:none; user-select:none;}
.f-clear { overflow:hidden; display:block; clear:both; height:0;}
.f-clearfix:before, .f-clearfix:after { content:''; display:table;}
.f-clearfix:after { clear:both;}
.f-clearfix,.f-zm { *zoom:1;}
.f-cred { color:#f00;}
.f-cgreen { color:#39B54A;}
.f-cblue { color:#338DC9;}
.f-corange { color:#FD6E0E;}
.f-bb { border-bottom:1px solid #ddd;}
.f-tdu { text-decoration: underline;}

/* edge */
.e-mt0 { margin-top:0px;}
.e-mt5 { margin-top:5px;}
.e-mt10 { margin-top:10px;}
.e-mt15 { margin-top:15px;}
.e-mt20 { margin-top:20px;}
.e-mr0 { margin-right:0px;}
.e-mr-3 { margin-right:-3px;}
.e-mr5 { margin-right:5px;}
.e-mr10 { margin-right:10px;}
.e-mr15 { margin-right:15px;}
.e-mr20 { margin-right:20px;}
.e-mb0 { margin-bottom:0px;}
.e-mb5 { margin-bottom:5px;}
.e-mb10 { margin-bottom:10px;}
.e-mb15 { margin-bottom:15px;}
.e-mb20 { margin-bottom:20px;}
.e-ml0 { margin-left:0px;}
.e-ml-3 { margin-left:-3px;}
.e-ml5 { margin-left:5px;}
.e-ml10 { margin-left:10px;}
.e-ml15 { margin-left:15px;}
.e-ml20 { margin-left:20px;}
.e-ml30 { margin-left:30px;}
.e-pt0 { padding-top:0px;}
.e-pt10 { padding-top:10px;}
.e-pt15 { padding-top:15px;}
.e-pt20 { padding-top:20px;}
.e-pr0 { padding-right:0px;}
.e-pr10 { padding-right:10px;}
.e-pr15 { padding-right:15px;}
.e-pr20 { padding-right:20px;}
.e-pb0 { padding-bottom:0px;}
.e-pb10 { padding-bottom:10px;}
.e-pb15 { padding-bottom:15px;}
.e-pb20 { padding-bottom:20px;}
.e-pl0 { padding-left:0px;}
.e-pl10 { padding-left:10px;}
.e-pl15 { padding-left:15px;}
.e-pl20 { padding-left:20px;}

/* ui */
.ui-gray { -webkit-filter:grayscale(1); -ms-filter:grayscale(1); filter:grayscale(1); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
.ui-tine { display:inline-block; line-height:0; font-size:0; border:6px dashed transparent;}
.ui-animate { -webkit-animation-duration:1s; -webkit-animation-fill-mode:both; animation-duration:1s; animation-fill-mode:both;}
.ui-trans { -webkit-transition:all .3s ease-in; -ms-transition:all .3s ease-in; transition:all .3s ease-in;}
.ui-selectxt::-webkit-selection { background-color:#ca061a; color:#fff;}
.ui-selectxt::-ms-selection { background-color:#ca061a; color:#fff;}
.ui-selectxt::selection { background-color:#ca061a; color:#fff;}
.ui-btn { display: inline-block; padding:0 30px; height: 44px; border-radius:22px; line-height: 45px; border:1px solid #FD6E0E; background-color: #FD6E0E; color:#fff; font-size: 16px;}
.ui-btn:hover { color:#fff; text-decoration: none; opacity: 0.9; filter: alpha(opacity=90)}
.ui-btn-line, .ui-btn-line:hover { background:none; color:#FD6E0E;}

/* page */
.g-html, .g-html body { width: 100%; height: 100%; overflow: hidden;}
.g-body { width:100%; min-width:1200px;}
.g-wrap { margin:0 auto; width:1200px;}
.g-header { padding: 10px 60px;}
.m-logo:hover em { text-decoration: none;}
.m-logo img { width: 40px;}
.m-logo em { margin-top: 3px;}
.m-logo:hover { color:#666;}
.m-nav { height:40px; line-height: 40px;}
.m-nav li { margin-left: 20px;}
.m-nav li a:hover { text-decoration: none;}
.m-nav li a.s-crt { padding-bottom:3px; color:#FD6E0E; border-bottom:3px solid #FD6E0E;}
.g-footer { padding: 35px 0; background-color: #727F80;}
.g-footer, .g-footer a, .g-footer a:hover { color:#fff;}
.g-footer a { margin: 0 5px;}
.g-html .g-header { border-bottom:2px solid #F6F6F6;}
.g-html .g-content { position: absolute; top: 60px; bottom: 0; width: 100%; *height:expression(eval(document.documentElement.clientHeight - 62));}
.g-main { width: 100%; margin-left: -200px;}
.g-main .mainbox { position:relative; padding-left:300px; padding-bottom:30px; width:900px;}
.g-main .data { width: 100%;}
.g-main .data th { background-color: #F6F6F6;}
.g-main .data, .g-main .data th, .g-main .data td { border:1px solid #eee;}
.g-main .data th, .g-main .data td { padding:7px 10px; vertical-align: middle;}
.g-sidecol, .g-main { height:100%; overflow: auto;}
.g-sidecol { position: relative; width: 200px; background-color:#F6F6F6;}
.g-sidecol .side { padding:30px 20px 30px 40px;}
.m-menu a.s-crt { color:#FD6E0E;}
.m-menu ul { padding-left:15px;}

/* component */
.ui-highlight { margin-top:15px; overflow:hidden; border-radius:3px; background-color:#F6F6F6;}
.ui-highlight .inner { padding:10px 0; overflow:auto;}
.ui-highlight table { width:100%;}
.ui-highlight td { padding:4px 10px; vertical-align: middle;}
.ui-highlight .line { text-align: right; -webkit-user-select:none; -ms-user-select:none; user-select:none; color:#5A616D;}
.ui-highlight .line:before { content:attr(number);}
.ui-highlight .code { width: 100%; white-space:pre; word-wrap: normal;}
.ui-highlight .code, .ui-highlight .symbol, .ui-highlight .text, .ui-highlight tr.s-crt .line, .ui-highlight .comment { color:#ABB2BF;}
.ui-highlight tr.s-crt .code { background-color:#eee;}
.ui-highlight .string { color:#98C379;}
.ui-highlight .attr { color:#D19A66;}
.ui-highlight .tag { color:#C36C6A;}
.ui-highlight .selector { color:#56B6C2;}
.ui-highlight .keyword { color:#C678DD;}
.ui-highlight .word { color:#61AFE9;}
.ui-highlight .number { color:#DC322F;}
