@charset "utf-8";
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?v=25d929d#iefix");
  src: url("iconfont.eot?v=25d929d#iefix") format('embedded-opentype'), url("iconfont.woff?v=2941e9f") format('woff'), url("iconfont.ttf?v=8a1053b") format('truetype'), url("iconfont.svg?v=982834f#iconfont") format('svg');
}
/** * Copyright(C), 2013-2014 ZheJiang Aisino Spaceflight Technology Co., Ltd. * FileName: base.css * Author: Aniu[date:2013-10-16 15:31] * Update: Aniu[date:2014-04-08 13:37] * Version: v2.0.1 * Description: CSS Reset & Public Components */
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
keygen,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
sup,
sub {
  font-size: 83%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
em,
i,
cite,
var,
address,
dfn {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button,
label {
  cursor: pointer;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 14px/1.14 '\5fae\8f6f\96c5\9ed1', helvetica, sans-serif;
  color: #666;
}
html {
  _background-image: url(about:blank);
  _background-attachment: fixed;
}
body,
html {
  background-color: #fff;
}
a {
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  color: #FD6E0E;
  text-decoration: underline;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* function */
.f-dib {
  display: inline-block;
}
.f-db {
  display: block;
}
.f-di {
  display: inline;
}
.f-dn {
  display: none;
}
.f-fl {
  float: left;
  display: inline;
}
.f-fr {
  float: right;
  display: inline;
}
.f-fn {
  float: none;
}
.f-pr {
  position: relative;
}
.f-pa {
  position: absolute;
}
.f-oh {
  overflow: hidden;
}
.f-ov {
  overflow: visible;
}
.f-oa {
  overflow: auto;
}
.f-fs12 {
  font-size: 12px;
}
.f-fs14 {
  font-size: 14px;
}
.f-fs16 {
  font-size: 16px;
}
.f-fs18 {
  font-size: 18px;
}
.f-fs20 {
  font-size: 20px;
}
.f-fs22 {
  font-size: 22px;
}
.f-fs24 {
  font-size: 24px;
}
.f-fs28 {
  font-size: 28px;
}
.f-fs30 {
  font-size: 30px;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-vam {
  vertical-align: middle;
}
.f-vat {
  vertical-align: top;
}
.f-vab {
  vertical-align: bottom;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-ti {
  overflow: hidden;
  text-indent: -999em;
}
.f-ti2 {
  text-indent: 2em;
}
.f-lhn {
  line-height: normal;
}
.f-lh18 {
  line-height: 18px;
}
.f-lh20 {
  line-height: 20px;
}
.f-lh22 {
  line-height: 22px;
}
.f-lh24 {
  line-height: 24px;
}
.f-lh28 {
  line-height: 28px;
}
.f-lh30 {
  line-height: 30px;
}
.f-cp {
  cursor: pointer;
}
.f-cd {
  cursor: default;
}
.f-nus {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.f-clear {
  overflow: hidden;
  display: block;
  clear: both;
  height: 0;
}
.f-clearfix:before,
.f-clearfix:after {
  content: '';
  display: table;
}
.f-clearfix:after {
  clear: both;
}
.f-clearfix,
.f-zm {
  *zoom: 1;
}
.f-cred {
  color: #f00;
}
.f-cgreen {
  color: #39B54A;
}
.f-cblue {
  color: #338DC9;
}
.f-corange {
  color: #FD6E0E;
}
.f-bb {
  border-bottom: 1px solid #ddd;
}
.f-tdu {
  text-decoration: underline;
}
.f-wfull {
  width: 100%;
}
.f-wauto {
  width: auto;
}
.f-hfull {
  height: 100%;
}
.f-hauto {
  height: auto;
}
/* edge */
.e-mt0 {
  margin-top: 0px;
}
.e-mt5 {
  margin-top: 5px;
}
.e-mt10 {
  margin-top: 10px;
}
.e-mt15 {
  margin-top: 15px;
}
.e-mt20 {
  margin-top: 20px;
}
.e-mt30 {
  margin-top: 30px;
}
.e-mt40 {
  margin-top: 40px;
}
.e-mr0 {
  margin-right: 0px;
}
.e-mr5 {
  margin-right: 5px;
}
.e-mr10 {
  margin-right: 10px;
}
.e-mr15 {
  margin-right: 15px;
}
.e-mr20 {
  margin-right: 20px;
}
.e-mb0 {
  margin-bottom: 0px;
}
.e-mb5 {
  margin-bottom: 5px;
}
.e-mb10 {
  margin-bottom: 10px;
}
.e-mb15 {
  margin-bottom: 15px;
}
.e-mb20 {
  margin-bottom: 20px;
}
.e-ml0 {
  margin-left: 0px;
}
.e-ml5 {
  margin-left: 5px;
}
.e-ml10 {
  margin-left: 10px;
}
.e-ml15 {
  margin-left: 15px;
}
.e-ml20 {
  margin-left: 20px;
}
.e-ml30 {
  margin-left: 30px;
}
.e-pt0 {
  padding-top: 0px;
}
.e-pt10 {
  padding-top: 10px;
}
.e-pt15 {
  padding-top: 15px;
}
.e-pt20 {
  padding-top: 20px;
}
.e-pt30 {
  padding-top: 30px;
}
.e-pt40 {
  padding-top: 40px;
}
.e-pr0 {
  padding-right: 0px;
}
.e-pr10 {
  padding-right: 10px;
}
.e-pr15 {
  padding-right: 15px;
}
.e-pr20 {
  padding-right: 20px;
}
.e-pb0 {
  padding-bottom: 0px;
}
.e-pb10 {
  padding-bottom: 10px;
}
.e-pb15 {
  padding-bottom: 15px;
}
.e-pb20 {
  padding-bottom: 20px;
}
.e-pl0 {
  padding-left: 0px;
}
.e-pl10 {
  padding-left: 10px;
}
.e-pl15 {
  padding-left: 15px;
}
.e-pl20 {
  padding-left: 20px;
}
/* ui */
.ui-gray {
  -webkit-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
.ui-tine {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  border: 6px dashed transparent;
}
.ui-animate {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.ui-trans {
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.ui-selectxt::-webkit-selection {
  background-color: #ca061a;
  color: #fff;
}
.ui-selectxt::-ms-selection {
  background-color: #ca061a;
  color: #fff;
}
.ui-selectxt::selection {
  background-color: #ca061a;
  color: #fff;
}
.ui-btn {
  display: inline-block;
  padding: 0 30px;
  height: 44px;
  border-radius: 22px;
  line-height: 44px;
  border: 1px solid #FD6E0E;
  background-color: #FD6E0E;
  color: #fff;
  font-size: 16px;
}
.ui-btn:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.ui-btn-line,
.ui-btn-line:hover {
  background: none;
  color: #FD6E0E;
}
.ui-btn-small {
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
}
/* page */
.g-html,
.g-html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.g-body {
  width: 100%;
  min-width: 1200px;
}
.g-wrap {
  margin: 0 auto;
  width: 1200px;
}
.g-header {
  padding: 10px 60px;
}
.m-logo:hover em {
  text-decoration: none;
}
.m-logo img {
  width: 40px;
}
.m-logo em {
  margin-top: 3px;
}
.m-logo:hover {
  color: #666;
}
.m-nav {
  height: 40px;
  line-height: 40px;
}
.m-nav li {
  margin-left: 20px;
}
.m-nav li a:hover {
  text-decoration: none;
}
.m-nav li a.s-crt {
  padding-bottom: 3px;
  color: #FD6E0E;
  border-bottom: 3px solid #FD6E0E;
}
.g-footer {
  padding: 35px 0;
  background-color: #727F80;
}
.g-footer,
.g-footer a,
.g-footer a:hover {
  color: #fff;
}
.g-footer a {
  margin: 0 5px;
}
.g-html .g-header {
  border-bottom: 2px solid #F6F6F6;
}
.g-html .g-content {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  *height: 'expression(eval(document.documentElement.clientHeight - 62))';
}
.g-main {
  position: relative;
  width: 100%;
  margin-left: -200px;
}
.g-main .mainbox {
  position: relative;
  padding-left: 300px;
  padding-bottom: 30px;
  width: 900px;
}
.g-main .data {
  width: 100%;
}
.g-main .data th {
  background-color: #F6F6F6;
}
.g-main .data,
.g-main .data th,
.g-main .data td {
  border: 1px solid #eee;
}
.g-main .data th,
.g-main .data td {
  padding: 7px 10px;
  vertical-align: middle;
}
.g-sidecol,
.g-main {
  height: 100%;
  overflow: auto;
}
.g-sidecol {
  position: relative;
  width: 200px;
  background-color: #F6F6F6;
}
.g-sidecol .side {
  padding: 30px 20px 30px 40px;
}
.m-menu a.s-crt {
  color: #FD6E0E;
}
.m-menu ul {
  padding-left: 15px;
}
/* element */
.ui-button {
  display: inline-block;
  padding: 0 20px;
  height: 34px;
  overflow: visible;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  white-space: nowrap;
  border: 1px solid #FF9C00;
  border-radius: 2px;
  color: #FF9C00;
  cursor: pointer;
  opacity: 0.9;
  filter: opacity(90);
}
.ui-button:hover {
  opacity: 0.8;
  filter: opacity(80);
  text-decoration: none;
}
.ui-button:active {
  opacity: 1;
  filter: opacity(100);
}
.ui-button-normal,
.ui-button-normal.ui-button-line:hover {
  border: 1px solid #FF9C00;
  background-color: #FF9C00;
  color: #fff;
}
.ui-button-normal.ui-button-line {
  background: none;
  color: #FF9C00;
}
.ui-button-warning,
.ui-button-warning.ui-button-line:hover {
  border: 1px solid #FF0000;
  background-color: #FF0000;
  color: #fff;
}
.ui-button-warning.ui-button-line {
  background: none;
  color: #FF0000;
}
.ui-button-disabled {
  border-color: #D9D9D9;
  cursor: default;
  background-color: #FBFBFB;
}
.ui-button-disabled,
.ui-button-disabled:hover {
  color: #C5C5C5;
  opacity: 1;
  filter: opacity(100);
}
.ui-button-radius {
  border-radius: 100px;
}
.ui-form:before,
.ui-form-item:before,
.ui-form:after,
.ui-form-item:after {
  content: '';
  display: table;
}
.ui-form:after,
.ui-form-item:after {
  clear: both;
}
.ui-form,
.ui-form-item {
  *zoom: 1;
}
.ui-input {
  padding-left: 8px;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  width: 230px;
}
/* component */
.nui-highlight {
  position: relative;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #F6F6F6;
  font-size: 14px;
}
.nui-highlight .body {
  padding: 10px 0;
  overflow: auto;
}
.nui-highlight table {
  width: 100%;
}
.nui-highlight td {
  padding: 2px 10px;
  vertical-align: middle;
}
.nui-highlight .line {
  text-align: right;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #5A616D;
}
.nui-highlight .line:before {
  content: attr(number);
}
.nui-highlight .code {
  width: 100%;
  white-space: pre;
  word-wrap: normal;
}
.nui-highlight .code,
.nui-highlight .symbol,
.nui-highlight .text,
.nui-highlight tr.s-crt .line,
.nui-highlight .comment {
  color: #ABB2BF;
}
.nui-highlight tr.s-crt .code {
  background-color: #eee;
}
.nui-highlight .string {
  color: #98C379;
}
.nui-highlight .attr {
  color: #D19A66;
}
.nui-highlight .tag {
  color: #C36C6A;
}
.nui-highlight .selector {
  color: #56B6C2;
}
.nui-highlight .keyword {
  color: #C678DD;
}
.nui-highlight .word {
  color: #61AFE9;
}
.nui-highlight .number {
  color: #DC322F;
}
.nui-highlight .title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 14px;
  color: #cfcfcf;
}
.nui-highlight .tools {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 5px 0;
}
.nui-highlight .tools em {
  margin-left: 5px;
  cursor: pointer;
  color: #666;
  font-size: 12px;
}
.nui-layer {
  position: absolute;
  padding: 0px;
  font-size: 14px;
}
.nui-layer .layer-box {
  background-color: #fff;
  zoom: 1;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
}
.nui-layer .layer-head {
  padding-left: 15px;
  height: 33px;
  line-height: 33px;
  color: #333;
  border-bottom: 1px solid #DBDBDB;
}
.nui-layer .layer-box,
.nui-layer .layer-body {
  position: relative;
}
.nui-layer .layer-main:before,
.nui-layer .layer-main:after,
.nui-layer .layer-foot:before,
.nui-layer .layer-foot:after {
  content: '';
  display: table;
}
.nui-layer .layer-main:after,
.nui-layer .layer-foot:after {
  clear: both;
}
.nui-layer .layer-main,
.nui-layer .layer-foot {
  *zoom: 1;
}
.nui-layer .layer-main {
  overflow: visible;
  word-break: break-all;
}
.nui-layer .layer-foot {
  padding: 15px 10px 20px;
}
.nui-layer .layer-foot .layer-inner {
  overflow: hidden;
}
.nui-layer .layer-foot .ui-button {
  margin: 0 6px;
  height: 30px;
}
.nui-layer .layer-button-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  overflow: hidden;
  color: #666;
  border: none;
  z-index: 1;
}
.nui-layer-mask {
  background-image: url(about:blank);
}
.nui-layer-mask .layer-mask {
  position: relative;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, 0, endColorstr=#7f000000, 0);
  background: rgba(0, 0, 0, 0.5);
  background: transparent\;
}
.nui-layer-movemask {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, 0, endColorstr=#7f000000, 0);
  background: rgba(0, 0, 0, 0.5);
  background: transparent\;
}
.nui-layer .layer-bubble,
.nui-layer .layer-bubble b,
.nui-layer .layer-bubble i {
  position: absolute;
}
.nui-layer .layer-bubble b,
.nui-layer .layer-bubble i {
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  border: 6px dashed transparent;
}
.nui-layer .layer-bubble-top {
  top: -12px;
  left: 10px;
}
.nui-layer .layer-bubble-top b,
.nui-layer .layer-bubble-top i {
  border-bottom-style: solid;
}
.nui-layer .layer-bubble-top b {
  border-bottom-color: #E82018;
  top: 0;
  left: 0;
}
.nui-layer .layer-bubble-top i {
  border-bottom-color: #FFEBEB;
  top: 1px;
  left: 0;
}
.nui-layer .layer-bubble-right {
  right: -12px;
  top: 10px;
}
.nui-layer .layer-bubble-right b,
.nui-layer .layer-bubble-right i {
  border-left-style: solid;
}
.nui-layer .layer-bubble-right b {
  border-left-color: #E82018;
  right: 0;
  top: 0;
}
.nui-layer .layer-bubble-right i {
  border-left-color: #FFEBEB;
  right: 1px;
  top: 0;
}
.nui-layer .layer-bubble-bottom {
  bottom: -12px;
  left: 10px;
}
.nui-layer .layer-bubble-bottom b,
.nui-layer .layer-bubble-bottom i {
  border-top-style: solid;
}
.nui-layer .layer-bubble-bottom b {
  border-top-color: #E82018;
  bottom: 0;
  left: 0;
}
.nui-layer .layer-bubble-bottom i {
  border-top-color: #FFEBEB;
  bottom: 1px;
  left: 0;
}
.nui-layer .layer-bubble-left {
  left: -12px;
  top: 10px;
}
.nui-layer .layer-bubble-left b,
.nui-layer .layer-bubble-left i {
  border-right-style: solid;
}
.nui-layer .layer-bubble-left b {
  border-right-color: #E82018;
  left: 0;
  top: 0;
}
.nui-layer .layer-bubble-left i {
  border-right-color: #FFEBEB;
  left: 1px;
  top: 0;
}
.nui-input span {
  background-color: #fff;
  padding-right: 8px;
}
.nui-input span .input-button {
  margin-left: 8px;
  display: inline-block;
  line-height: normal;
  float: none;
  vertical-align: middle;
  cursor: pointer;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
