<!DOCTYPE html>
<html class="g-html">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta name="keywords" content="Nui,Nui框架,Nui组件,axnfex,诺诺框架,诺诺前端,爱信诺框架,爱信诺前端" />
	<meta name="description" content="Nui框架是诺诺网前端团队根据自身业务的特点开发出来的模块化前端框架，提供了丰富的组件以适应不同业务需求进行快速开发。" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Nui.js</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="icon" type="image/x-icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="shortcut icon" type="image/x-icon" href="/nui/assets/images/favicon.ico?v=f076652"/>
	<link rel="stylesheet" type="text/css" href="/nui/assets/style/base-min.css?v=c710ef1"/>
    
</head>
<body class="g-body">
	<!-- header -->
	<div class="g-header f-clearfix">
	    <a class="m-logo f-fl" href="/nui/">
            <img src="/nui/assets/images/logo.png?v=a987f30" alt="Nui.js" class="f-fl" />
            <em class="f-fl e-ml10 f-fs24">Nui.js</em>
        </a>
        <ul class="m-nav f-fr f-fs16">
            
	
	
    <li class="f-fl">
        <a class="s-crt" href="/nui/pages/">教程</a>
    </li>
    <li class="f-fl">
        <a href="https://axnfex.github.io/2017/02/28/jobs/" target="_blank">加入我们</a>
    </li>
    <li class="f-fl">
        <a href="http://zjaisino.github.io/" target="_blank">前端规范</a>
    </li>
    <li class="f-fl">
        <a href="https://axnfex.github.io/" target="_blank">团队博客</a>
    </li>


        </ul>
	</div>
	<!-- /header -->

	<!-- content -->
	<div class="g-content">
    
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">输入框</h1>
			<p>模块继承 <a class="f-cblue" href="../placeholder/">placeholder</a> 模块，包含其所有功能，增加清除输入框内容按钮以及密码框显示明文按钮，也可自定义按钮</p>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">案例</h2>
			<div class="e-mt15">
				<input type="text" class="ui-input" id="demo" placeholder="请输入密码">
			</div>
<script type="text/highlight" data-xml-options>
&lt;input type="password" id="demo" placeholder="请输入密码"&gt;
</script>
<script type="text/highlight" data-javascript-options>
Nui.define(['input'], function(input){
	$('#demo').input({
		clear:'清除',
		reveal:{
			content:{
				text:'隐藏',
				password:'显示'
			}
		},
		button:[{
			id:'click',
			content:'点我',
			show:true,
			callback:function(){
				alert('让你点你就点，你是不是傻？')
			}
		}]
	})

	//或

	input({
		target:'#demo',
		clear:'清除',
		reveal:{
			content:{
				text:'隐藏',
				password:'显示'
			}
		},
		....
	})
})
</script>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">选项参数</h2>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> iconfont</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：false</p>
				<p>类型：{String} 设置字体图标类名，会在按钮上添加上该类</p>
				<p>类型：{Boolean} 值为true是类名默认是iconfont</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> hover</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：false</p>
				<p>类型：{Boolean} 在输入框有值的情况下，是否鼠标悬停在输入框上时再显示按钮</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> show</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：false</p>
				<p>类型：{Boolean} 是否一直显示按钮，当输入框值为空时也显示</p>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> reveal</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：null</p>
				<p>类型：{String} 设置密码框显示隐藏按钮内容，配合iconfont参数值可设置为字体图标编码</p>
				<p>类型：{Object} </p>
				<table class="data e-mt5">
					<tr>
						<th width="80">属性</th>
						<th width="80">默认值</th>
						<th width="80">类型</th>
						<th>说明</th>
					</tr>
					<tr>
						<td rowspan="2">content</td>
						<td rowspan="2">null</td>
						<td>{String}</td>
						<td>设置按钮内容</td>
					</tr>
					<tr>
						<td>{Object}</td>
						<td>
							<table class="data e-mt5">
								<tr>
									<th width="80">属性</th>
									<th width="80">默认值</th>
									<th width="80">类型</th>
									<th>说明</th>
								</tr>
								<tr>
									<td>text</td>
									<td>null</td>
									<td>{String}</td>
									<td>当输入框为text类型时按钮内容</td>
								</tr>
								<tr>
									<td>password</td>
									<td>null</td>
									<td>{String}</td>
									<td>当输入框为password类型时按钮内容</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td rowspan="3">title</td>
						<td rowspan="3">null</td>
						<td>{String}</td>
						<td>设置按钮提示文本</td>
					</tr>
					<tr>
						<td>{Boolean}</td>
						<td>当值为true时，去按钮内容作为提示文本，false则不启用提示功能</td>
					</tr>
					<tr>
						<td>{Object}</td>
						<td>
							<table class="data e-mt5">
								<tr>
									<th width="80">属性</th>
									<th width="80">默认值</th>
									<th width="80">类型</th>
									<th>说明</th>
								</tr>
								<tr>
									<td>text</td>
									<td>null</td>
									<td>{String}</td>
									<td>当输入框为text类型时提示文本</td>
								</tr>
								<tr>
									<td>password</td>
									<td>null</td>
									<td>{String}</td>
									<td>当输入框为password类型时提示文本</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>iconfont</td>
						<td>null</td>
						<td>{Boolean}</td>
						<td>功能等同选项参数</td>
					</tr>
					<tr>
						<td>hover</td>
						<td>null</td>
						<td>{Boolean}</td>
						<td>功能等同选项参数</td>
					</tr>
					<tr>
						<td>show</td>
						<td>null</td>
						<td>{Boolean}</td>
						<td>功能等同选项参数</td>
					</tr>
					<tr>
						<td>callback</td>
						<td>null</td>
						<td>{Function}</td>
						<td>按钮触发回调，接收3个参数依次是self:实例对象，event:事件对象，elem:按钮jQuery对象</td>
					</tr>
				</table>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> clear</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：null</p>
				<p>类型：{String} 设置清除内容按钮内容，配合iconfont参数值可设置为字体图标编码</p>
				<p>类型：{Object} </p>
				<table class="data e-mt5">
					<tr>
						<th width="80">属性</th>
						<th width="80">默认值</th>
						<th width="80">类型</th>
						<th>说明</th>
					</tr>
					<tr>
						<td>content</td>
						<td>null</td>
						<td>{String}</td>
						<td>设置按钮内容</td>
					</tr>
					<tr>
						<td rowspan="2">title</td>
						<td rowspan="2">null</td>
						<td>{String}</td>
						<td>设置按钮提示文本</td>
					</tr>
					<tr>
						<td>{Boolean}</td>
						<td>当值为true时，去按钮内容作为提示文本，false则不启用提示功能</td>
					</tr>
					<tr>
						<td>iconfont</td>
						<td>null</td>
						<td>{Boolean}</td>
						<td>功能等同选项参数</td>
					</tr>
					<tr>
						<td>hover</td>
						<td>null</td>
						<td>{Boolean}</td>
						<td>功能等同选项参数</td>
					</tr>
					<tr>
						<td>show</td>
						<td>null</td>
						<td>{Boolean}</td>
						<td>功能等同选项参数</td>
					</tr>
					<tr>
						<td>callback</td>
						<td>null</td>
						<td>{Function}</td>
						<td>按钮触发回调，接收3个参数依次是self:实例对象，event:事件对象，elem:按钮jQuery对象</td>
					</tr>
				</table>
			</div>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> button</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：null</p>
				<p>类型：{Array} 设置多按钮，参数等同clear配置</p>
			</div>
<script type="text/highlight" data-javascript-options>
[{
	id:'clear',
	content:'清除'
}, {
	id:'reveal',
	content:'显示密码'
}, {
	id:'btn1',
	content:'自定义1',
	callback:function(){
	}
}, {
	id:'btn2',
	content:'自定义2',
	callback:function(){
	}
}, ...]
</script>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> text</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：''</p>
    <p>类型：{String} 输入框占位提示文本，若元素上含有placeholder属性将会覆盖该值</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> animate</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：false</p>
    <p>类型：{Boolean} 是否使用动画形式显示占位文本</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> equal</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：true</p>
    <p>类型：{Boolean} 输入框值是否可以和占位符相同，设置为false时如果输入值等于占位符值将自动被清空</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> restore</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：true</p>
    <p>类型：{Boolean} 销毁或者重置组件是否还原默认值</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> color</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：'#ccc'</p>
    <p>类型：{String} 占位符文本颜色</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> id</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：''</p>
    <p>类型：{String} 标识符名称，弹出层最外层元素会增加layer-标识符名称的类名</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> skin</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：''</p>
    <p>类型：{String} 皮肤名称，弹出层最外层元素会增加nui-layer-皮肤名称的类名</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> onChange</h3>
<div class="e-mt15 f-lh22">
    <p>默认值：null</p>
    <p>类型：{Function} 调用实例的value方法后执行回调</p>
</div>

            <h2 class="e-pt20 f-fs22 f-bb e-pb10">实例属性与方法</h2>
			
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> value</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：val {String}</p>
    <p>说明：设置输入框值</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> option</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：option {String, Object} 选项参数集合或者参数名</p>
    <p>参数：value {Anything} 参数值，option为string类型时才会使用</p>
    <p>说明：设置选项参数</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> reset</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>说明：将实例还原为初始状态</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> destroy</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>说明：销毁实例</p>
</div>

<h2 class="e-pt20 f-fs22 f-bb e-pb10">静态方法</h2>
<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> config</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：option {String, Object} 选项参数集合或者参数名</p>
    <p>参数：value {Anything} 参数值，option为string类型时才会使用</p>
    <p>说明：全局设置默认选项参数，需在调用组件前设置方可生效</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> value</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：将实例还原为初始状态，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> option</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：option {String, Object} 选项参数集合或者参数名</p>
    <p>参数：value {Anything} 参数值，option为string类型时才会使用</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：设置选项参数，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> reset</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：将实例还原为初始状态，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> resize</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：改变实例大小位置为正常状态，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> destroy</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：销毁实例，不传id则对所有实例操作</p>
</div>
		</div>	
	</div>
	
	
<div class="f-fl g-sidecol">
    <div class="side">
        <ul class="m-menu f-lh28">
            <li>
                <a class="f-fs16" href="/nui/pages/">介绍</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/doc.html">API文档</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/util.html">实用工具</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/template.html">模板引擎</a>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/events.html">代理事件</a>
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/element.html">页面元素</a>
                
            </li>
            <li>
                <a class="f-fs16 s-crt" href="/nui/pages/components/">交互组件</a>
                
                <ul>
                    <li>
                        <a  href="/nui/pages/components/#开发组件">开发组件</a>
                        
                    </li>
                    <li>
                        <a href="/nui/pages/components/router/">路由</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/layer/">弹出层</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/datagrid/">数据网格</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/placeholder/">占位符</a>
                    </li>
                    <li>
                        <a class="s-crt" href="/nui/pages/components/input/">输入框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/popover/">提示框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/calendar/">日历</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/slider/">滑块</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/carousel/">轮播图</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/upload/">文件上传</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/upload/">单复选框</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/fixed/">固钉</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/fixed/">数字输入</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/paging/">分页</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/scrollbar/">滚动条</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/suggest/">输入建议</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/search/">搜索</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/tab/">选项卡</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/print/">打印</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/copy/">拷贝</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/collapse/">折叠面板</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/timer/">定时器</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/waterfall/">瀑布流</a>
                    </li>
                    <li>
                        <a href="/nui/pages/components/validate/">表单校验</a>
                    </li>
                </ul>
                
            </li>
            <li>
                <a class="f-fs16" href="/nui/pages/pack.html">打包工具</a>
                
            </li>
        </ul>
    </div>
</div>


	</div>
	<!-- /content -->

	

    <script type="text/javascript" src="/nui/assets/script/jquery.min.js?v=4223d4c"></script>
<script type="text/javascript" src="/nui/dist/nui-load-min.js?v=394e26b"></script>
<script type="text/javascript" src="/nui/config.js?v=96de1c7"></script>
    
    <script type="text/javascript">
	Nui.load("{script}/base-min", function(page){
        page.init()
    })
    </script>
    
    <script type="text/javascript">
    
Nui.load("./page")

    </script>
</body>
</html>