<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> value</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：val {String}</p>
    <p>说明：设置输入框值</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> option</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：option {String, Object} 选项参数集合或者参数名</p>
    <p>参数：value {Anything} 参数值，option为string类型时才会使用</p>
    <p>说明：设置选项参数</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> reset</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>说明：将实例还原为初始状态</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> destroy</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>说明：销毁实例</p>
</div>

<h2 class="e-pt20 f-fs22 f-bb e-pb10">类方法</h2>
<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> config</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：option {String, Object} 选项参数集合或者参数名</p>
    <p>参数：value {Anything} 参数值，option为string类型时才会使用</p>
    <p>说明：全局设置默认选项参数，需在调用组件前设置方可生效</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> value</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：将实例还原为初始状态，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> option</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：option {String, Object} 选项参数集合或者参数名</p>
    <p>参数：value {Anything} 参数值，option为string类型时才会使用</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：设置选项参数，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> reset</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：将实例还原为初始状态，不传id则对所有实例操作</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> destroy</h3>
<div class="e-mt15 f-lh22">
    <p>类型：{Function}</p>
    <p>参数：id {Number, String} 实例id或者选项参数id</p>
    <p>说明：销毁实例，不传id则对所有实例操作</p>
</div>