{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/nui/assets/style/index-min.css" />
{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('index')}}
{% endblock %}

{% block content %}
<div class="g-wrap f-tac e-pt20">
	<div class="m-title e-mt20 e-pt20">
		<img src="/nui/assets/images/logo.png" class="logo" alt="Nui.js" />
		<span class="f-tal desc f-dib">
			<em>模块化</em>
			<span class="f-dib e-mt10">
				<strong>JavaScript 框架</strong>
			</span>
			<span class="f-dib e-mt20">
				<a class="ui-btn e-mr10" href="/nui/pages/loader/">起步</a>
				<a class="ui-btn ui-btn-line" href="https://github.com/axnfex/nui" target="_blank">Github</a>
			</span>
		</span>
	</div>
	<div class="m-desc f-clearfix">
		<dl class="f-fl">
			<dt class="f-fs20 f-cred">特丰富</dt>
			<dd class="f-lh24 e-mt20">
				<p>API文档案例详细齐全</p>
				<p>提供了20+个组件供不同业务场景使用</p>
			</dd>
		</dl>
		<dl class="f-fl">
			<dt class="f-fs20 f-cgreen">超精简</dt>
			<dd class="f-lh24 e-mt20">
				<p>压缩后加载器9kb，组件扩充版15kb</p>
				<p>代码虽少但功能齐全</p>
			</dd>
		</dl>
		<dl class="f-fl">
			<dt class="f-fs20 f-cblue">自动化</dt>
			<dd class="f-lh24 e-mt20">
				<p>集成模块合并、压缩、修改版本号</p>
				<p>完美解决http请求过多以及缓存问题</p>
			</dd>
		</dl>
	</div>
</div>
<div class="m-used f-tac">
	<div class="g-wrap">
		<h3 class="f-fs20">哪些项目在用？</h3>
		<p>
			<a href="https://www.jss.com.cn/" target="_blank" class="ui-gray"><img src="/nui/assets/images/logos/fuwu.jpg" alt="诺诺服务" width="143" height="57" /></a>
			<a href="https://www.axnsc.com/" target="_blank" class="ui-gray"><img src="/nui/assets/images/logos/shop.jpg" alt="诺诺商城" width="160" height="57" /></a>
			<a href="https://www.axnjf.com/" target="_blank" class="ui-gray"><img src="/nui/assets/images/logos/jinfu.jpg" alt="诺诺金服" width="136" height="57" /></a>
			<a href="https://cloud.jss.com.cn/" target="_blank" class="ui-gray"><img src="/nui/assets/images/logos/cloud.jpg" alt="诺诺云记账" width="179" height="57" /></a>
		</p>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.tpl' %}
{% endblock %}

{% block script %}
	Nui.load('{script}/index-min')
{% endblock %}
