<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> text</h3>
<div class="e-mt15 f-lh22">
    <p>功能：输入框占位提示文本</p>
    <p>类型：{String}</p>
    <p>默认：''</p>
    <p>说明：若元素上含有placeholder属性将会覆盖该值</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> animate</h3>
<div class="e-mt15 f-lh22">
    <p>功能：是否以动画形式展示</p>
    <p>类型：{Boolean}</p>
    <p>默认：false</p>
    <p>说明：输入框focus提示文本会缩进并且透明度降低</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> equal</h3>
<div class="e-mt15 f-lh22">
    <p>功能：输入框值是否可以和占位符内容相同</p>
    <p>类型：{Boolean}</p>
    <p>默认：true</p>
    <p>说明：设置为false时如果输入值等于占位符值将自动被清空</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> restore</h3>
<div class="e-mt15 f-lh22">
    <p>功能：销毁或者重置组件是否还原默认值</p>
    <p>类型：{Boolean}</p>
    <p>默认：true</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> color</h3>
<div class="e-mt15 f-lh22">
    <p>功能：占位符文本颜色</p>
    <p>类型：{String}</p>
    <p>默认：'#ccc'</p>
</div>

<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> onChange</h3>
<div class="e-mt15 f-lh22">
    <p>功能：调用实例的value方法后执行回调</p>
    <p>类型：{Function}</p>
    <p>默认：null</p>
</div>