.nui-datagrid .datagrid-table .ui-table {
  table-layout: fixed;
}
.nui-datagrid .datagrid-table .table-cell {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  vertical-align: middle;
}
.nui-datagrid .datagrid-table .table-cell.f-tal {
  text-align: left;
}
.nui-datagrid .datagrid-table .table-cell.f-tar {
  text-align: right;
}
.nui-datagrid .datagrid-table .cell-wrap,
.nui-datagrid .datagrid-table .cell-text {
  display: inline-block;
}
.nui-datagrid .datagrid-table .cell-wrap {
  width: 100%;
  vertical-align: middle;
}
.nui-datagrid .datagrid-table .cell-text {
  margin: 0 5px;
}
.nui-datagrid .datagrid-table .cell-wrap.cell-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nui-datagrid .datagrid-body,
.nui-datagrid .datagrid-thead,
.nui-datagrid .datagrid-title {
  position: relative;
}
.nui-datagrid .datagrid-table .cell-text-input {
  display: block;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  padding-left: 6px;
  padding-right: 6px;
}
.nui-datagrid .datagrid-table .cell-text-input .datagrid-input {
  padding-right: 1px;
  width: 100%;
}
.nui-datagrid .datagrid-table .datagrid-hide {
  display: none;
}
.nui-datagrid .datagrid-table .table-row.s-hover .datagrid-hide {
  display: inline-block;
}
.nui-datagrid .datagrid-box {
  position: relative;
  overflow: auto;
}
.nui-datagrid .datagrid-fixed .datagrid-box {
  margin-top: -1px;
}
.nui-datagrid .datagrid-table-all .ui-table {
  width: 100%;
}
.nui-datagrid .datagrid-table-all .datagrid-thead {
  overflow: hidden;
  width: 100%;
}
.nui-datagrid .datagrid-table-all .datagrid-box {
  width: 100%;
}
.nui-datagrid .datagrid-table-fixed {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.nui-datagrid .datagrid-table-fixed .datagrid-box {
  overflow: hidden;
}
.nui-datagrid .datagrid-table-fixed .ui-table {
  width: auto;
}
.nui-datagrid .datagrid-table-left {
  left: 0;
}
.nui-datagrid .datagrid-table-right {
  right: 0;
}
.nui-datagrid .datagrid-paging {
  padding-top: 20px;
  height: 30px;
}
.nui-datagrid .datagrid-order {
  position: relative;
  display: inline-block;
}
.nui-datagrid .datagrid-order b {
  left: 3px;
  cursor: pointer;
}
.nui-datagrid .datagrid-order b,
.nui-datagrid .datagrid-order s,
.nui-datagrid .datagrid-order i {
  position: absolute;
}
.nui-datagrid .datagrid-order s,
.nui-datagrid .datagrid-order i {
  line-height: 0;
  font-size: 0;
  border: 6px dashed transparent;
}
.nui-datagrid .datagrid-order-asc {
  top: -14px;
}
.nui-datagrid .datagrid-order-asc i {
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}
.nui-datagrid .datagrid-order-asc.s-crt i {
  border-bottom-color: #46679e;
}
.nui-datagrid .datagrid-order-desc {
  bottom: 7px;
}
.nui-datagrid .datagrid-order-desc i {
  border-top-style: solid;
  border-top-color: #ccc;
}
.nui-datagrid .datagrid-order-desc.s-crt i {
  border-top-color: #46679e;
}
.nui-datagrid .datagrid-order-both .datagrid-order-asc {
  top: -18px;
}
.nui-datagrid .datagrid-order-both .datagrid-order-desc {
  bottom: 2px;
}
.nui-datagrid .datagrid-paging {
  height: 22px;
  padding: 10px 0;
}
.nui-datagrid .nui-paging {
  float: right;
}
.nui-datagrid .ui-paging {
  margin-right: 10px;
}
.nui-datagrid .ui-paging-number {
  margin-right: 10px;
}
