.nui-highlight { position:relative; margin-top:15px; overflow:hidden; border-radius:3px; background-color:#F6F6F6; font-size: 14px;}
.nui-highlight .body { padding:10px 0; overflow:auto;}
.nui-highlight table { width:100%;}
.nui-highlight td { padding:2px 10px; vertical-align: middle;}
.nui-highlight .line { text-align: right; -webkit-user-select:none; -ms-user-select:none; user-select:none; color:#5A616D;}
.nui-highlight .line:before { content:attr(number);}
.nui-highlight .code { width: 100%; white-space:pre; word-wrap: normal;}
.nui-highlight .code, .nui-highlight .symbol, .nui-highlight .text, .nui-highlight tr.s-crt .line, .nui-highlight .comment { color:#ABB2BF;}
.nui-highlight tr.s-crt .code { background-color:#eee;}
.nui-highlight .string { color:#98C379;}
.nui-highlight .attr { color:#D19A66;}
.nui-highlight .tag { color:#C36C6A;}
.nui-highlight .selector { color:#56B6C2;}
.nui-highlight .keyword { color:#C678DD;}
.nui-highlight .word { color:#61AFE9;}
.nui-highlight .number { color:#DC322F;}
.nui-highlight .title { position:absolute; bottom: 0; right: 0; padding:5px; font-size: 14px; color: #cfcfcf;}
.nui-highlight .tools { position:absolute; top: 0; right: 0; padding: 5px 5px 5px 0;}
.nui-highlight .tools em { margin-left: 5px; cursor: pointer; color: #666; font-size: 12px;}