{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('loader')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28" id="intro">介绍</h1>
			<p>111</p>
			<p>111</p>
			<p>111</p>
<script type="text/highlight" options-highlight>
介绍介绍介绍
介绍介绍介绍介绍介绍
</script>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<h2 class="e-pt20 e-pb20 f-fs24" id="Nui.js是什么">Nui.js是什么</h2>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<h2 class="e-pt20 f-fs24" id="安装">安装</h2>
<script type="text/highlight" options-xml>
&lt;script type="text/javascript" src="jquery.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="nui.js"&gt;&lt;/script&gt;
</script>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
			<p>111</p>
		</div>
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('loader', 'index')}}
{% endblock %}
