{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('loader')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">介绍</h1>
			<h2 class="e-pt20 e-pb10 f-fs22 f-bb" id="Nui.js是什么">Nui是什么</h2>
			<div class="e-mt15 f-lh22">
				<p>Nui是一个模块化前端框架， 开发目的是为了统一代码规范以及提高功能复用性</p>
			</div>
			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> 兼容性</h3>
			<div class="e-mt15 f-lh22">
				<p>Internet Explorer 6+ <b class="f-cgreen f-fs16">✔</b></p>
				<p>Firefox 2+ <b class="f-cgreen f-fs16">✔</b></p>
				<p>Safari 3.2+ <b class="f-cgreen f-fs16">✔</b></p>
				<p>Chrome 3+ <b class="f-cgreen f-fs16">✔</b></p>
				<p>Opera 10+ <b class="f-cgreen f-fs16">✔</b></p>
			</div>
			<h2 class="e-pt20 f-fs22" id="安装">安装</h2>

			<h2 class="e-pt20 f-fs22" id="如何使用">如何使用</h2>
		</div>
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('loader', 'index')}}
{% endblock %}
