{% extends "layout.tpl" %}

{% block title %}{% endblock %}

{% block nav %}
	{% import 'nav.tpl' as nav %}
	{{nav.active('study')}}
{% endblock %}

{% block subpage %} class="g-html"{% endblock %}

{% block content %}
	<style>
	.nui-suggest {
		position: absolute;
	}
	</style>
	<div class="g-main f-fr">
		<div class="mainbox">
			<h1 class="e-pt20 e-pb20 f-fs28">搜索建议</h1>
			<h2 class="e-pt20 f-fs22 f-bb e-pb10">案例</h2>
			<div class="e-mt15">
				<input type="text" class="ui-input demo">
				<input type="text" class="ui-input demo">
			</div>
<script type="text/highlight" data-xml-options>

</script>
<script type="text/highlight" data-javascript-options>

</script>

			<h2 class="e-pt20 f-fs22 f-bb e-pb10">选项参数</h2>

			<h3 class="e-mt20 f-fs16"><b class="f-corange">#</b> iconfont</h3>
			<div class="e-mt15 f-lh22">
				<p>默认值：false</p>
				<p>类型：{String} 设置字体图标类名，会在按钮上添加上该类</p>
				<p>类型：{Boolean} 值为true是类名默认是iconfont</p>
			</div>

            <h2 class="e-pt20 f-fs22 f-bb e-pb10">实例属性与方法</h2>
			
			
		</div>	
	</div>
	{% import 'sidecol.tpl' as side %}
	{{side.active('cpns', 'suggest')}}
{% endblock %}

{% block script %}
Nui.load('./page')
{% endblock %}